.Footer {
  background-color: #f2f2f2;
}
.FooterImage1 {
  background-image: url("../../../assets/Images/v1.webp");
}

.FooterImage2 {
  background-image: url("../../../assets/Images/2.webp");
}

.FooterImage1 {
  background-image: url("../../../assets/Images/v1.webp");
}

.FooterImage1 {
  background-image: url("../../../assets/Images/v1.webp");
}
