.Sitters {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
.SittersTextDecorationNone {
  text-decoration: none !important;
  color: black;
}
.SittersTextDecorationNone:hover {
  text-decoration: none !important;
  color: black;
}
.SitterReviewBox:hover {
  background-color: #eff7fc;
  cursor: pointer;
}
