.adminDashBoardMainBody {
  border: 3px solid orange;
  color: black;
  cursor: pointer;
  background-color: orange;
}
.adminDashBoardMainBodyBlackColorAndWhiteBg {
  color: black;
  background-color: white;
}
.adminDashBoardMainBodyBlackColor {
  background-color: black;
  text-decoration: none !important;

  color: "white";
}
.adminDashBoardMainBodyBlackOrange {
  text-decoration: none !important;
  background-color: #f17200;
}
.adminDashBoardMainBody:hover {
  color: orange;
  background-color: black;
  border: 3px solid black;
}
.adminDashBoardWhiteButton {
  color: orange;
  border: 2px solid black;

  cursor: pointer;
}
.customOrange {
  color: orange;
  text-decoration: none !important;
}

.adminDashBoardWhiteButton:hover {
  color: white;
  background-color: orange;
}
.sitterDashBoardDeclineButton {
  color: white;
  border: 2px solid black;
  background-color: black;
  cursor: pointer;
}
.sitterDashBoardDeclineButton:hover {
  color: white;
  background-color: red;
}
.homePageCartPageButtons {
  border: 3px solid red;
  color: red;
  cursor: pointer;
}
.homePageCartPageButtons:hover {
  border: 3px solid red;
  color: white;
  cursor: pointer;
  background-color: red;
}
.sitterDashBoardAccepted {
  background-color: #e0f2d8;
  border-bottom: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 1px;
}
