.BodyDropDown_container {
  position: relative;
  display: flex;
  width: 17.5rem;
  flex-direction: column;
  padding: 1rem;
  right: 12rem;
  overflow: hidden;
  background-color: white;
  color: #212223;
  z-index: 1;
  border-radius: 25px;
}
.BodyDropDown_Text {
  font-size: 10px;
  color: grey;
}
.BodyDropDown_TextDecorationNone {
  text-decoration: none;
  color: black;
}
