.react-datepicker {
  font-size: 1.5em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-names {
  font-size: 0.7em;
}
.react-datepicker__day-name {
  width: 1.7em;
  line-height: 2.9em;
}
.react-datepicker__day {
  width: 1.7em;
  background-color: #f2f2f2;
}
.react-datepicker__day--selected .react-datepicker__navigation--previous {
  top: 1em;
  border-right-color: #ccc;
  left: 1em;
  font-size: 555px;
}
.react-datepicker__day--selecting-range-start {
  color: blue;
  background-color: white !important;
}
.react-datepicker__day--in-range {
  background-color: #5bb85c;
}

.react-datepicker__navigation--previous {
  border-right-color: black;
  font-size: 2rem !important;
  color: black;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}
.react-datepicker__day--disabled {
  background-color: #f5630f;
  color: white;
  cursor: pointer;
}
.react-datepicker__day--disabled:hover {
  background-color: rgb(242, 142, 3);
  color: black;
  cursor: pointer;
}
.react-datepicker__navigation {
  font-size: 2rem !important;
  color: black !important;
  margin-top: 1rem !important;
}
