.SitterCalendarLegendsBoxAvailable {
  height: 2rem;
  width: 2rem;
  background-color: #e0f2d8;
}
.SitterCalendarLegendsBoxSelected {
  height: 2rem;
  width: 2rem;
  background-color: #5bb85c;
}
.SitterCalendarLegendsBoxUnAvailable {
  height: 2rem;
  width: 2rem;
  background-color: #f5630f;
}
