.NavbarBodyAliceblue {
  background-color: rgb(255, 254, 254);
  z-index: 29;
}
.NavbarBodyBrLine {
  height: 1.2px;
  background-color: gray;
}
.NavbarBodyPointer {
  cursor: pointer;
  z-index: 25;
}
.NavbarBodyWidth {
  width: 100px;
}
.NavbarBodyHover {
  color: black;
}
.NavbarBodyHover:hover {
  background-color: aquamarine;
  color: white;
}
.NavbarBodyImage {
  width: 4rem;
  height: 4rem;
  border-radius: 0;
  background-image: url("../../../../assets/Images/kuche.png");
}
.NavbarBodyTextDecorationNone {
  text-decoration: none !important;
  color: black;
}
.BodyHeader {
  height: 8rem;
  color: white;
}
