.NavbarBodyAliceblue {
  background-color: white;
}
.NavbarBodyBrLine {
  height: 1.2px;
  background-color: gray;
}
.NavbarBodyPointer {
  cursor: pointer;
}
.NavbarBodyWidth {
  width: 100px;
}
.NavbarBodyHover {
  color: black;
}
.NavbarBodyHover:hover {
  background-color: aquamarine;
  color: white;
}
.NavbarBodyImage {
  width: 4rem;
  height: 4rem;
  border-radius: 0;
}
.NavbarBodyTextDecorationNone {
  text-decoration: none !important;
  color: black;
}
