.SitterDetails {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}
.SitterDetailsFontSizeDescription {
  font-size: 0.8rem;
}
.SitterDetailsButton {
  background-color: #0d6efd;
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
  color: white;
  border-radius: 16px;
}
.SitterDetailsButton:hover {
  background-color: #448cf7;
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
  color: white;
  border-radius: 16px;
}
